 <div class="show-main">
  <section class="product">
    <div class="product__photo">
      <div class="photo-container">
        <div class="photo-main">
          <div class="controls">
            <%= link_to cocktails_path do%>
              <i class="fas fa-arrow-circle-left"></i>
            <% end %>
          </div>
            <% if @cocktail.photo.attached? %>
              <%= cl_image_tag @cocktail.photo.key, crop: :fill, class: "show-img" %>
            <% else %>
              <%= image_tag "https://images.pexels.com/photos/6240974/pexels-photo-6240974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", alt: "A cocktail", class: "mb-3 rounded show-img" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="product__info">
      <div class="title">
        <h1><%= @cocktail.name.upcase %></h1>
      </div>
      <div class="description">
        <h4>INGREDIENTS</h4>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li> <%= dose.description %> of <%= dose.ingredient.name %>
              <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure you want to remove this ingredient?' } do%>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="description">
        <h4> ADD AN INGREDIENT </h4>
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.input :description, placeholder: "e.g. 25ml", class: "qs" %>
          <%= f.association :ingredient %>
          <%= f.submit "Add", class: "btn btn-second" %>
        <% end %>
      </div>
    </div>
  </section>
</div>

