<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 vh-100">
      <h2><%= @cocktail.name %></h2>
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "no-cocktail.png", alt: "A cocktail", class: "mb-3 rounded cocktail-img" %>
      <% end %>

      <ul>
        <% @cocktail.doses.each do |dose| %>
          <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to "Remove", dose_path(dose), method: :delete, remote: false%>
        <% end %>
      </ul>
      <%= link_to new_cocktail_dose_path(@cocktail), class:"btn btn-add-new " do %>
        <i class="fas fa-plus-circle"></i><span> Add Ingredient</span>
      <% end %>

      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.input :description, placeholder: "e.g. 25ml" %>
          <%= f.association :ingredient %>
          <%= f.submit "Submit to Cocktail", class: "btn btn-primary" %>
      <% end %>

      <%= link_to "Back", cocktails_path, class:"btn btn-second"%>
    </div>
  </div>


</div>
