<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,900;1,100&display=swap" rel="stylesheet">
 </head>

  <body>
    <div>
      <nav class="navbar-main">
        <div class="logo">
          <%= link_to cocktails_path, class: "navbar-logo" do %>
            <%= image_tag "https://static.thenounproject.com/png/1720497-200.png" %>
          <% end %>
          <%= link_to "HOME", cocktails_path, class: "navbar-logo" %>
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="navbar-search" id="navbarCollapse">
          <form class="form-inline ml-auto" id="search-cocktails">
            <input type="text" class="form-control mr-sm-2" placeholder="Lookup a Cocktail">
            <button type="submit" class="btn btn-search"><i class="fas fa-search"></i></button>
          </form>
        </div> -->
        <div class="navbar-add-new">
          <%= link_to new_cocktail_path, class:"btn btn-add-new" do%>
            <i class="fas fa-plus-circle"></i><span> Add A New Cocktail</span>
          <% end %>
       </div>
      </nav>
    </div>


    <%= yield %>

    <div class="footer">
        <ul class="list-inline">
          <li>
            <a href="https://www.lewagon.com" target="_blank" class="socials">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/nicoleschembri/" target="_blank" class="socials">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/schemalem/" target="_blank" class="socials">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
  </body>
</html>
